@import url(./__container/intro__container.css);
@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-span/intro__list-span.css);

.intro {
    padding: 92px 0;
    color: #fff;
    max-width: 83.1%;
    margin: auto;
}

@media screen and (max-width: 1140px) {
    .intro {
        max-width: 90.63%;
    }
}

@media screen and (max-width: 958px) {
    .intro {
        max-width: 93.75%;
        padding: 88px 0;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        max-width: 90%;
        margin: 64 auto;
    }
}
